#card {
  position: relative;
  background-color: white;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 70px;
  transition-duration: 0.6s;
}

#card:hover {
  transform: translateY(-10px);
}

#card img {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: -34px;
}

#card hr {
  height: 2px;
  width: 80%;
  background-color: rgb(207, 200, 200);
  border: none;
}

#text-1 {
  width: 100%;
  margin: 10px 20px;
  font-size: 19px;
  font-weight: 500;
}

#text-2 {
  width: 100%;
  margin: 10px;
  font-weight: 500;
}

#card h6 {
  width: 100%;
  font-weight: 500;
  margin-bottom: 15px;
}